# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
 
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

#
# Sfecific configureation
#
export PS1='\[\e[{{ ps1_color }};1m\][\u@\h\[\e[33;1m\] \w]\$ \[\e[m\]'
export EDITOR='/usr/bin/vim'
alias c='clear'
alias vi='/usr/bin/vim'

{% if inventory_hostname =="master" %}
alias ans='ansible'
alias anp='ansible=playbook'
alias anpchk='ansible-playbook --syntax-check'
alias and='ansible-doc -l'
alias anv='ansible-vault'
alias anx='ansible-galaxy'
alias code='code --no-sandbox --user-data-dir=/root/vscode'
alias vscode='code'
{% endif %}
